<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" ng-controller="indexCtrl">
	<!-- Indicators -->
	<ol class="carousel-indicators">
		<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
		<li data-target="#carousel-example-generic" data-slide-to="1"></li>
		<li data-target="#carousel-example-generic" data-slide-to="2"></li>
		<li data-target="#carousel-example-generic" data-slide-to="3"></li>
		<li data-target="#carousel-example-generic" data-slide-to="4"></li>
		<li data-target="#carousel-example-generic" data-slide-to="5"></li>
	</ol>

	<!-- Wrapper for slides -->
	<div class="carousel-inner" role="listbox">
		<div class="item active">
			<img src="images/slider-home/home-slider1.png" alt="slider-home-1">
			<div class="carousel-caption">
				<h2>Potencia tus ideas</h2>
			</div>
		</div>
		<div class="item">
			<img src="images/slider-home/home-slider2.png" alt="slider-home-2">
			<div class="carousel-caption">
				<h2>Potencia tus ideas</h2>
			</div>
		</div>
		<div class="item">
			<img src="images/slider-home/home-slider3.png" alt="slider-home-3">
			<div class="carousel-caption">
				<h2>Potencia tus ideas</h2>
			</div>
		</div>
		<div class="item">
			<img src="images/slider-home/home-slider4.png" alt="slider-home-4">
			<div class="carousel-caption">
				<h2>Potencia tus ideas</h2>
			</div>
		</div>
		<div class="item">
			<img src="images/slider-home/home-slider5.png" alt="slider-home-5">
			<div class="carousel-caption">
				<h2>Potencia tus ideas</h2>
			</div>
		</div>
		<div class="item">
			<img src="images/slider-home/home-slider6.png" alt="slider-home-6">
			<div class="carousel-caption">
				<h2>Potencia tus ideas</h2>
			</div>
		</div>
	</div>

	<!-- Controls -->
	<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true" ng-non-bindable></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right" aria-hidden="true" ng-non-bindable></span>
		<span class="sr-only">Next</span>
	</a>
</div>