<div class="container" ng-controller="nosotrosCtrl">
	<div class="row separacion">
		<div class="col-sm-3 text-center">
			<img class="img-responsive" width="100%" src="images/perfil/emi.png">
			<h2>Emiliano Sayd</h2>
			<p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
		</div><!-- /.col-sm-3 -->
		<div class="col-sm-3 text-center">
			<img class="img-responsive" width="100%" src="images/perfil/pablo.png">
			<h2>Pablo Lucero</h2>
			<p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
		</div><!-- /.col-sm-3 -->
		<div class="col-sm-3 text-center">
			<img class="img-responsive" width="100%" src="images/perfil/eze.png">
			<h2>Ezequiel Mirallas</h2>
			<p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
		</div><!-- /.col-sm-3 -->
		<div class="col-sm-3 text-center">
			<img class="img-responsive" width="100%" src="images/perfil/nahuel.png">
			<h2>Nahuel Martinez</h2>
			<p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
		</div><!-- /.col-sm-3 -->
	</div>	
</div>