<div class="container" ng-controller="registroCtrl">
	<div class="row">
		<div class="col-sm-4 col-sm-offset-4">
			<form id="form-login" method="post" action="logueado.html">
				<input class="form-control" id="nombre" name="nombre" type="text" placeholder="Nombre" data-toggle="tooltip" data-placement="right" title="Ingresa tu Nombre y Apellido" required>
				<input class="form-control" id="usuario" name="usuario" type="text" placeholder="Usuario/Nickname" data-toggle="tooltip" data-placement="right" title="Ingresa tu usuario" required>
				<input class="form-control" id="email" name="email" type="text" placeholder="Email" data-toggle="tooltip" data-placement="right" title="Ingresa tu email" required>
				<input class="form-control" id="contrasenia" name="contrasenia" type="password" placeholder="Contraseña" data-toggle="tooltip" data-placement="right" title="Ingresa una contraseña" required>
				<input class="form-control" id="contrasnia2" name="contrasnia2" type="password" placeholder="Repite tu contraseña" data-toggle="tooltip" data-placement="right" title="Repite tu contraseña" required>
				<input class="btn btn-success to-right" id="Enviar" name="Enviar" value="Crear Cuenta" type="submit">
				<p><a class="to-left" href="#">Olvide mi contraseña</a></br><a class="to-left" href="registrarme.html">Registrarme</a></p>
			</form>
		</div>
	</div>
</div>