body{
  padding-top: 70px;
}

/***************************************************
                    GENERALES
****************************************************/
.to-right{
  float: right;
}

.to-left{
  float: left;
}

.separacion{
  margin-top: 15px;
}

form input, form textarea{
  margin: 10px 0;
}

form p{
  margin: 15px 0;
}

/***************************************************
                    LOGIN
****************************************************/

#form-login{
  margin-top: 50%;
}

/***************************************************
                    CONTACTO
****************************************************/

#form-contacto{
  margin-top: 50%;
}